<div class="readings">
    <h2><i class="fa-solid fa-book-open" aria-hidden="true"></i> Suggested Readings</h2>
    <ul>
        {% for reading in zotero-readings %}
            {% assign bibl = site.data.zotero.references | where:"id",reading %}
            <li>
                <a href="{{ bibl[0].URL }}">
                    {{ bibl[0].author[0].family }}{{ bibl[0].author[0].literal }}, {{ bibl[0].title }} ({{ bibl[0].issued[0].year }})
                </a>
            </li>
        {% endfor %}
    </ul>    
    Zotero: 
     <a href="{{ site.data.settings.zotero-base }}/tags/{{ zotero-tag }},_further-reading/library">Further Reading (optional)</a>
     <i class="fa-solid fa-arrow-up-right-from-square"></i>
</div>