<div class="related">
    <h2>Slides</h2>
    <ul class="related-posts">
      {% for tag in page.tags %}
        {% for slides in site.tags[tag] %}
          {% if slides.tags contains "slides" %}
              <li>
                  <h3>
                  <a href="{{ site.github.url }}{{ slides.url }}">
                      <div class="related-thumbnail">
                      {% if slides.image %}
                          <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ slides.image }}">
                      {% endif %}
                      </div>
                      <div class="related-title">
                      {{ slides.title }}
                      </div>
                      <!--<small>{{ slides.date | date: "%B %-d, %Y" }}</small>-->
                  </a>
                  </h3>
              </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
</div>