figcaption {
    font-size: x-small;
    color: #999;
    text-align: right;
}
article h2 {
    margin-top: 2.5rem;
}

/*********************************************
 * REVEAL SLIDE THEME CUSTOMIZATION
 *********************************************/

 /* Translucent box to highlight the slide content 
 area and make it readable on a photo background.  */
 .slides {
	box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .5);
}
}