---
layout: default
title: Home
---

{% assign sorted-posts = paginator.posts | sort: 'date' %}
{% for post in sorted-posts %}
{% assign sessions = site.data.sessions | where: "session",post.session | first %}
{% assign custom_title = sessions.title | default: post.title %}
{% assign image = post.image | default: sessions.image %}
{% assign zotero-tag = post.zotero-tag | default: sessions.zotero-tag %}
{% assign pad-slug = post.pad-slug | default: sessions.pad-slug %}
{% assign objective = post.objective | default: sessions.objective %}
  {% if post.level == "overview" %}
    {% include featured-post.html %}
  {% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
